.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: DodgerBlue;
  }
  .subject-content{
    display:none;
    background-color: #000;
    color:#fff;
    background-image: none;
    padding:15px;
  }
  .flex-container > a {
    background-color: #f1f1f1;
    margin: 80px;
    padding: 40px;
    font-size: 40px;
  }
    h1{
    text-align: center;
    background-color: aqua;
    margin:auto;
  }
  footer{
    text-align: center;
    background-color: aquamarine;
    margin:auto;
  }
  div{
    background-image: url(/images/study1.jpg);
  }