header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.content{
    width: 66.6%;
    float:left;
    height: 300px;
}
section, article {
    border: 1px solid grey; 
    margin:5px;
    padding:5px;
}
aside{
    width: 33.3%;
    float:right;
    background-color: lightgray;
    height: 300px;
    padding:5px;
    box-sizing: border-box;
}
footer{
    background-color: darkslategray;
    color:#fff;
    padding:5px;
    text-align: center;
    clear:both;
}
/*Navigation Menu Links*/

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
nav li{
   float:left; 
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #000;
}



/*0px = 650px apply these rules*/
@media screen and (max-width: 650px) {
    .content, aside{
        width:100%;
        float:none;
        height: auto;
    }
    header p{
        display: block;
    }
  }
/*650px and higher apply these rules*/
  @media screen and (min-width: 650px) {
    header p{
        display: none;
    }
  }

  .use-pointer{
      cursor:pointer;
  }

  .highlight{
      background-color: yellow;
  }
  .use-pointer.highlight{
      color:red;
  }

  p[title~=flower]{
      font-size:32px;
  }

.level-one{
    background-color: green;
    display: flex;
    flex-direction:column-reverse;
}
.level-two{
    background-color: red;
    display: flex;
    flex-direction:row;
    padding:5px;
    margin:5px;
}
.level-three{
    background-color: blue;
    padding:5px;
    margin:5px;
    color:#fff;
}
.level-four{
    background-color: yellow;
    padding:5px;
    margin:5px;
    color:#000;
}


  